*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    font-family: monospace;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
button{
    cursor: pointer;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    margin-left: 0;
}
#header{
    display: block; 
    position: fixed;
    top: 0;
    width: 100%;
    background: black; 
    opacity: 0.3; 
    color: white; 
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.appDrag{
    height: 25px;
    flex-grow: 1;
    -webkit-app-region: drag;
}
.appTitle{
    padding: 5px;
}
.appButtons{
    height: 25px!important;
    height: 100%;
}
.appButtons button{
    padding-left: 6px;
    padding-right: 6px;
    background: none;
    color: white;
    border: none;
    height: 100%;
}
.appButtons button:hover{
    background: #000e3c;
}
.appButtons button i:before{
    font-size: 12px;
}
#app{
    position: relative;
    width: 100%;
    height: 100%;
}
#favoritesList{
    height: 100%;
    width: 100%;
    z-index: 999999;
    position: fixed;
    background: #00000080;    
    color: white;
    display: none;
}
#favoritesList.active{
    display: block;
}
.appContainer{
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    grid-template-columns: 1fr;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 4rem;
    min-height: 0;
    min-width: 0;
}
.controlsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 0;
    min-width: 0;
}
.playerControlsContainer{
    position: absolute;
    bottom: 0;
    flex-direction: column;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#volumeRange{
    display: none;
}
#volumeControl{
    position: absolute;
    right: -70px;
    top: 100px;
}
#favoriteControl{
    position: absolute;
    right: -49px;
    top: 150px;
}
#volumeControl:hover input{
    display: block;
    position: absolute;
    transform: rotate(270deg);
    bottom: 88px;
}
.controlsContainer .inputGroup{
    position: relative;
}
.controlsContainer .inputGroup label{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.controlsContainer .control{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: transparent;
    color: #13FFB9;
    margin-left: 20px;
    margin-right: 20px;
    /* border: 2px solid #FF4613; */
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    cursor: pointer;
}
.controlsContainer .control:hover{
    background: rgba(19, 255, 185, 0.15);
}
.playerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    min-width: 0;
    position: relative;
}
#boot{
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2196f3de;
    z-index: 2;
}
#start{
    position: fixed;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #3F51B5;
    border: 1px solid #673AB7;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    color: #ededed;
    font-size: 16px;
    outline: none;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.controlButton{
    display: none;
}

.controlButton ~ label{
    width: 20px;
    height: 20px;
}

.controlButton:checked ~ label{
    background: rgba(19, 255, 185, 0.3);
}

.control.active{
    background: rgba(19, 255, 185, 0.3);
}

/*PLAY BUTTON CSS*/
.playButton{
    position: relative;
    width: 190px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 3rem;
    color: #13FFB9;
    background: #29a9a94f;
    border: none;
    border-radius: 50%;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    cursor: pointer;
    height: 170px;
    width: 170px;
    outline: none;
    z-index: 1;
}

.playButton button i:before{
    font-size: 70px;
    margin-right: -20px;
}

.playButton button:hover{
    background: #0c0e0e66;
    opacity: 0.5;
}
/*/PLAY BUTTON CSS*/

#start:hover{
    transform: scale(1.2);
}

#progress{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#seeker{
    height: 1.2rem;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
    opacity: 0.5;
    border: 0px solid transparent;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
#seeker:hover{
    height: 4rem;
    opacity: 0.8;
    cursor: pointer;
}

progress::-moz-progress-bar {
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
}

progress::-webkit-progress-bar {
    background: transparent;
}  
progress::-webkit-progress-value {  
    background: #FFF;
    /* box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);  */
} 

#timerDisplay{
    position: absolute;
    text-align: center;
    width: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 7px);
    pointer-events: none;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-weight: 800;
}
#seeker:hover ~ #timerDisplay{
    font-size: 1.5rem;
}

#trackInfo{
    color: #BBB;
    font-size: 1.5rem;
    padding: 1rem;
    /* pointer-events: none; */
    max-width: 100%;
    min-width: 0;
    min-height: 0;
}

.trackMetaSnippet{
    display: block;
    position: relative;
    margin: 0.5rem;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: left;
    color: #dfff;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.trackMetaSnippet:hover{
    text-overflow: initial;
}
.trackMetaSnippet:hover:before{
    opacity: 0.1;
}
.trackMetaSnippet:hover span{
    animation: slide 5s linear infinite;
}
.trackMetaSnippet:before{
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: 1rem;
    opacity: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70px;
    display: inline-block;
}
/* 
.artistTitle{
    color: #dfff;
} */
.artistTitle:before{
    content: 'ARTIST: ';
}
/* .trackTitle{
    color: #2196F3;
} */
.trackTitle:before{
    content: 'TITLE: ';
}
/* .albumTitle{
    color: #3F51B5;
} */
.albumTitle:before{
    content: 'ALBUM: ';
}

@-webkit-keyframes aura {
    0% {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
    }
    20% {
      -webkit-transform: translateY(100px) rotate(1deg);
              transform: translateY(100px) rotate(1deg);
    }
    40% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    60% {
      -webkit-transform: rotate(-1deg);
              transform: rotate(-1deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(16deg);
              transform: translateY(-10px) rotate(16deg);
    }
    100% {
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
    }
  }
  
  @keyframes aura {
    0% {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg);
    }
    20% {
      -webkit-transform: translateY(100px) rotate(1deg);
              transform: translateY(100px) rotate(1deg);
    }
    40% {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    60% {
      -webkit-transform: rotate(-1deg);
              transform: rotate(-1deg);
    }
    80% {
      -webkit-transform: translateY(-10px) rotate(16deg);
              transform: translateY(-10px) rotate(16deg);
    }
    100% {
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
    }
  }
  
  @-webkit-keyframes northern {
    0% {
      -webkit-transform: translate(5%, -2%);
              transform: translate(5%, -2%);
    }
    25% {
      -webkit-transform: translate(10%, 7%);
              transform: translate(10%, 7%);
    }
    40% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    60% {
      -webkit-transform: translate(7%, -2%);
              transform: translate(7%, -2%);
    }
    85% {
      -webkit-transform: translate(6%, 3%) rotate(12deg);
              transform: translate(6%, 3%) rotate(12deg);
    }
    100% {
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @keyframes northern {
    0% {
      -webkit-transform: translate(5%, -2%);
              transform: translate(5%, -2%);
    }
    25% {
      -webkit-transform: translate(10%, 7%);
              transform: translate(10%, 7%);
    }
    40% {
      -webkit-transform: rotate(-10deg);
              transform: rotate(-10deg);
    }
    60% {
      -webkit-transform: translate(7%, -2%);
              transform: translate(7%, -2%);
    }
    85% {
      -webkit-transform: translate(6%, 3%) rotate(12deg);
              transform: translate(6%, 3%) rotate(12deg);
    }
    100% {
      -webkit-transform: none;
              transform: none;
    }
  }
  
  @keyframes slide {
    0%    { margin-left: 0; }
    100%  { margin-left: -100%; }
  }

  .auroral-agrabah {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: aura;
            animation-name: aura;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(110deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), -webkit-linear-gradient(30deg, #1a00c0 10%, #d70043);
    background: linear-gradient(-20deg, rgba(26, 0, 192, 0.4) 40%, rgba(215, 0, 67, 0.4)), linear-gradient(60deg, #1a00c0 10%, #d70043);
    z-index: -1;
    }
  
  .auroral-northern {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: northern;
            animation-name: northern;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(80deg, #a1d9b4 20%, #32988a 40%, #000e3c 70%);
    background: linear-gradient(10deg, #a1d9b4 20%, #32988a 40%, #000e3c 70%);
    z-index: -1;
  }
  
  .auroral-northern-intense {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: aura;
            animation-name: aura;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(80deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
    background: linear-gradient(10deg, #b7a841 20%, #a1006a 40%, #371d40 60%);
  }
  
  .auroral-northern-dimmed {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: northern;
            animation-name: northern;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(135deg, rgba(237, 124, 148, 0.3) 20%, rgba(35, 82, 154, 0.3) 70%), -webkit-linear-gradient(80deg, #916b63 7%, #b8ba6f 20%, #ed7c94 40%, #23529a 60%);
    background: linear-gradient(-45deg, rgba(237, 124, 148, 0.3) 20%, rgba(35, 82, 154, 0.3) 70%), linear-gradient(10deg, #916b63 7%, #b8ba6f 20%, #ed7c94 40%, #23529a 60%);
  }
  
  .auroral-northern-dusk {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: northern;
            animation-name: northern;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(125deg, rgba(145, 107, 99, 0.5) 15%, rgba(184, 186, 111, 0.5) 25%, transparent 60%), -webkit-linear-gradient(80deg, #916b63 9%, #b8ba6f 30%, #ed7c94 45%, #23529a 65%);
    background: linear-gradient(-35deg, rgba(145, 107, 99, 0.5) 15%, rgba(184, 186, 111, 0.5) 25%, transparent 60%), linear-gradient(10deg, #916b63 9%, #b8ba6f 30%, #ed7c94 45%, #23529a 65%);
  }
  
  .auroral-northern-warm {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    -webkit-animation-name: aura;
            animation-name: aura;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    background: -webkit-linear-gradient(85deg, transparent 70%, #da7712 95%), -webkit-linear-gradient(290deg, #432c24 30%, #d96d7d 62%, #da7712 95%);
    background: linear-gradient(5deg, transparent 70%, #da7712 95%), linear-gradient(160deg, #432c24 30%, #d96d7d 62%, #da7712 95%);
  }
  
  .auroral-stars {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: white;
    box-shadow: 119vw 46vh 0 1px rgba(255, 255, 255, 0.7), 17vw 47vh 0 2px rgba(255, 255, 255, 0.7), 98vw 35vh 0 1px rgba(255, 255, 255, 0.7), 94vw 25vh 0 1px rgba(255, 255, 255, 0.7), 33vw 46vh 0 1px rgba(255, 255, 255, 0.7), 11vw 5vh 0 2px rgba(255, 255, 255, 0.7), 44vw 47vh 0 2px rgba(255, 255, 255, 0.7), 74vw 4vh 0 2px rgba(255, 255, 255, 0.7), 28vw 18vh 0 2px rgba(255, 255, 255, 0.7), 45vw 45vh 0 1px rgba(255, 255, 255, 0.7), 18vw 26vh 0 1px rgba(255, 255, 255, 0.7), 57vw 44vh 0 2px rgba(255, 255, 255, 0.7), 64vw 28vh 0 2px rgba(255, 255, 255, 0.7), 100vw 17vh 0 1px rgba(255, 255, 255, 0.7), 74vw 36vh 0 1px rgba(255, 255, 255, 0.7), 94vw 16vh 0 1px rgba(255, 255, 255, 0.7), 48vw 34vh 0 2px rgba(255, 255, 255, 0.7), 86vw 5vh 0 2px rgba(255, 255, 255, 0.7), 25vw 7vh 0 1px rgba(255, 255, 255, 0.7), 89vw 34vh 0 1px rgba(255, 255, 255, 0.7), 15vw 32vh 0 2px rgba(255, 255, 255, 0.7), 93vw 25vh 0 2px rgba(255, 255, 255, 0.7), 41vw 9vh 0 2px rgba(255, 255, 255, 0.7), 42vw 36vh 0 1px rgba(255, 255, 255, 0.7), 54vw 23vh 0 1px rgba(255, 255, 255, 0.7), 50vw 46vh 0 1px rgba(255, 255, 255, 0.7), 50vw 19vh 0 2px rgba(255, 255, 255, 0.7), 60vw 40vh 0 1px rgba(255, 255, 255, 0.7), 59vw 4vh 0 2px rgba(255, 255, 255, 0.7), 15vw 23vh 0 2px rgba(255, 255, 255, 0.7), 14vw 38vh 0 1px rgba(255, 255, 255, 0.7), 58vw 41vh 0 1px rgba(255, 255, 255, 0.7), 70vw 7vh 0 1px rgba(255, 255, 255, 0.7), 10vw 25vh 0 1px rgba(255, 255, 255, 0.7), 44vw 33vh 0 1px rgba(255, 255, 255, 0.7), 70vw 37vh 0 2px rgba(255, 255, 255, 0.7), 28vw 33vh 0 1px rgba(255, 255, 255, 0.7), 72vw 7vh 0 2px rgba(255, 255, 255, 0.7), 68vw 34vh 0 1px rgba(255, 255, 255, 0.7), 13vw 17vh 0 2px rgba(255, 255, 255, 0.7), 13vw 7vh 0 2px rgba(255, 255, 255, 0.7), 53vw 36vh 0 1px rgba(255, 255, 255, 0.7), 99vw 24vh 0 1px rgba(255, 255, 255, 0.7), 94vw 23vh 0 2px rgba(255, 255, 255, 0.7), 93vw 38vh 0 1px rgba(255, 255, 255, 0.7), 81vw 18vh 0 2px rgba(255, 255, 255, 0.7), 15vw 33vh 0 1px rgba(255, 255, 255, 0.7), 11vw 29vh 0 1px rgba(255, 255, 255, 0.7), 82vw 23vh 0 1px rgba(255, 255, 255, 0.7), 80vw 32vh 0 1px rgba(255, 255, 255, 0.7), 9vw 2vh 0 2px rgba(255, 255, 255, 0.7), 69vw 2vh 0 1px rgba(255, 255, 255, 0.7), 46vw 39vh 0 1px rgba(255, 255, 255, 0.7), 46vw 15vh 0 1px rgba(255, 255, 255, 0.7), 54vw 48vh 0 1px rgba(255, 255, 255, 0.7), 66vw 34vh 0 1px rgba(255, 255, 255, 0.7), 7vw 42vh 0 2px rgba(255, 255, 255, 0.7), 18vw 17vh 0 1px rgba(255, 255, 255, 0.7), 81vw 14vh 0 2px rgba(255, 255, 255, 0.7), 97vw 16vh 0 1px rgba(255, 255, 255, 0.7), 97vw 8vh 0 2px rgba(255, 255, 255, 0.7), 73vw 35vh 0 2px rgba(255, 255, 255, 0.7), 94vw 7vh 0 2px rgba(255, 255, 255, 0.7), 19vw 41vh 0 2px rgba(255, 255, 255, 0.7), 92vw 38vh 0 2px rgba(255, 255, 255, 0.7), 72vw 2vh 0 2px rgba(255, 255, 255, 0.7), 87vw 45vh 0 2px rgba(255, 255, 255, 0.7), 48vw 45vh 0 1px rgba(255, 255, 255, 0.7), 28vw 11vh 0 1px rgba(255, 255, 255, 0.7), 51vw 50vh 0 2px rgba(255, 255, 255, 0.7), 85vw 2vh 0 2px rgba(255, 255, 255, 0.7), 79vw 39vh 0 1px rgba(255, 255, 255, 0.7), 28vw 4vh 0 2px rgba(255, 255, 255, 0.7), 37vw 11vh 0 2px rgba(255, 255, 255, 0.7), 82vw 34vh 0 2px rgba(255, 255, 255, 0.7), 36vw 48vh 0 1px rgba(255, 255, 255, 0.7), 45vw 46vh 0 1px rgba(255, 255, 255, 0.7), 6vw 44vh 0 2px rgba(255, 255, 255, 0.7), 99vw 11vh 0 2px rgba(255, 255, 255, 0.7), 12vw 46vh 0 1px rgba(255, 255, 255, 0.7), 1vw 3vh 0 1px rgba(255, 255, 255, 0.7), 38vw 34vh 0 1px rgba(255, 255, 255, 0.7), 88vw 4vh 0 1px rgba(255, 255, 255, 0.7), 91vw 17vh 0 1px rgba(255, 255, 255, 0.7), 56vw 34vh 0 2px rgba(255, 255, 255, 0.7), 66vw 6vh 0 1px rgba(255, 255, 255, 0.7), 67vw 41vh 0 1px rgba(255, 255, 255, 0.7), 54vw 34vh 0 2px rgba(255, 255, 255, 0.7), 28vw 17vh 0 1px rgba(255, 255, 255, 0.7), 41vw 17vh 0 2px rgba(255, 255, 255, 0.7), 36vw 22vh 0 1px rgba(255, 255, 255, 0.7), 23vw 2vh 0 1px rgba(255, 255, 255, 0.7), 4vw 9vh 0 1px rgba(255, 255, 255, 0.7), 31vw 23vh 0 2px rgba(255, 255, 255, 0.7), 54vw 26vh 0 2px rgba(255, 255, 255, 0.7), 52vw 14vh 0 1px rgba(255, 255, 255, 0.7), 29vw 45vh 0 1px rgba(255, 255, 255, 0.7), 34vw 45vh 0 2px rgba(255, 255, 255, 0.7), 25vw 19vh 0 1px rgba(255, 255, 255, 0.7), 100vw 43vh 0 1px rgba(255, 255, 255, 0.7), 77vw 46vh 0 0 rgba(255, 255, 255, 0.9);
  }

  /*range inputs*/
  input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    /* width: 200px; */
    cursor: pointer;
    border-radius: 0;
    background: transparent;
    outline: none;
}

::-webkit-slider-runnable-track {
    background: #29a9a94f;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px; /* 1 */
    height: 40px;
    background: #dfff;
    box-shadow: -100vw 0 0 100vw #13FFB9;
    /* border: 2px solid rgba(62, 150, 150, 0.30980392156862746); */
}